---
import Layout from '@mizuchilabs/lyvo/layouts/Layout.astro';
import Hero from '@/components/marketing/Hero.astro';
import FeaturePreview from '@/components/marketing/FeaturePreview.astro';
---

<Layout>
	<main class="flex h-[calc(100vh-12rem)] flex-col items-center overflow-hidden">
		<Hero />
		<FeaturePreview />
	</main>
</Layout>
