---
import { ExternalLink } from '@lucide/astro';

const { href, ...props } = Astro.props;
const isExternal = href && (href.startsWith('http://') || href.startsWith('https://'));
---

<a
	href={href}
	{...props}
	target={isExternal ? '_blank' : undefined}
	rel={isExternal ? 'noopener noreferrer' : undefined}
>
	<slot />
	{isExternal && <ExternalLink size={14} class="-mt-0.5 ml-1 inline-block opacity-70" />}
</a>
