---
import Search from '@/components/base/Search';
import Sidebar from '@/components/docs/Sidebar.astro';
import ThemeToggle from '@/components/base/ThemeToggle.astro';
import BaseHead from '@/layouts/BaseHead.astro';
import Breadcrumbs from '@/components/docs/Breadcrumbs.astro';

interface Props {
	title: string;
	description?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<BaseHead />

	<body
		class="flex h-screen w-full flex-col overflow-hidden bg-sidebar font-sans text-foreground antialiased md:flex-row"
		transition:persist
		transition:name="page-layout"
	>
		<Sidebar />

		<div class="flex h-full flex-1 flex-col overflow-hidden md:py-3 md:pr-3">
			<main
				id="main-scroll-area"
				class="no-scrollbar relative flex-1 overflow-y-auto bg-background md:rounded-2xl md:border md:border-r-0 md:border-border/40 md:shadow-sm"
			>
				{/* Breadcrumbs Header */}
				<div
					class="sticky top-0 z-30 flex min-h-14 items-center justify-between gap-4 rounded-t-xl border-b border-border/40 bg-sidebar/50 px-6 backdrop-blur-md"
				>
					<Breadcrumbs title={title} />
					<div class="flex shrink-0 items-center gap-4">
						<Search client:load />
						<ThemeToggle />
					</div>
				</div>

				<article
					data-pagefind-body
					class="flex w-full min-w-0 flex-1 flex-col text-foreground"
				>
					<slot />
				</article>
			</main>
		</div>
	</body>
</html>
